        .notifyjs-qv-base {
            opacity: 1;
            background: #EED3D7;
            padding: 5px;
            font-weight: bold;
            width: 500px;
            overflow: auto;
        }
        
        .notifyjs-qv-base .buttons {
            width: 70px;
            float: right;
            font-size: 9px;
            padding: 5px;
            margin: 2px;
        }
        
        .notifyjs-qv-base button {
            font-size: 9px;
        }
        
        .left {
            float: left;
            width: 90%;
        }
        
        .right {
            float: left;
            width: 10%;
            font-size: 10px;
        }